
.field {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.field-item {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: #dac8ff;
  font-size: 30px;
}