@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d2c1ff;
  font-family: "Google Sans Flex", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-items: center;
}